<mat-toolbar class="header">
    <div class="draggable">
        <span class="logo"> E-Registry <mat-icon aria-hidden="false" aria-label="Example home icon">local_hospital</mat-icon></span>
        <span class="example-spacer"></span>
    </div>
    <div class="control-wrapper">
        <button mat-icon-button class="minimize-icon" id="minimize">
            <mat-icon>remove</mat-icon>
        </button>
        <button mat-icon-button class="maximize-icon" id="maximize">
            <mat-icon>aspect_ratio</mat-icon>
        </button>
        <button mat-icon-button class="exit-icon" id="exit">
          <mat-icon>close</mat-icon>
        </button>
    </div>
  </mat-toolbar>