<div class="criteria-wrapper">
    <mat-form-field appearance="fill">
        <mat-label>{{firstInputLabel}}</mat-label>
        <input [type]="firstInputType" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>{{secondInputLabel}}</mat-label>
        <input [type]="secondInputType" matInput />
    </mat-form-field>
    <button mat-icon-button aria-label="Example icon button with a heart icon">
        <mat-icon>search</mat-icon>
        </button>
</div>
<div class="result-wrapper">
    <app-result-list>
        <app-item-card>
        </app-item-card>
        <app-item-card>
        </app-item-card>
        <app-item-card>
        </app-item-card>
        <app-item-card>
        </app-item-card>
        <app-item-card>
        </app-item-card>
        <app-item-card>
        </app-item-card>
        <app-item-card>
        </app-item-card>
        <app-item-card>
        </app-item-card>
    </app-result-list>
</div>